body{
    margin: 0;
    padding: 0;
    background: url(spor2.jpg) no-repeat;
    background-size: cover;
  }
  .Container{
    width: 450px;
    background: rgba(43, 43, 41, 0.671);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  
  .Container-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .Container h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .Container h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .Container p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .Container li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .Container li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .Container li a:hover{
    color: #b9b9b9;
  }
  .btn {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 60px;
    display: inline-block;
    margin: 15px 30px;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: relative;
  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    border-radius: 30px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}

.btn:active {
    border-color: #17954c;
    color: #17954c;
}

.btn:hover {
	    background: #24b662;
}

.btn:active:before {
	    color: #17954c;
}


/* Pseudo elements for icon */
.btn:before {
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    height: 50%;
    font-size: 50%;
    line-height: 2;
    color: #fff;
  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    left: 70%;
    opacity: 0;
    top: 0;
    content: "\e00d";
}

.btn:hover:before {
    left: 80%;
    opacity: 1;
}